<% if shifts.empty? %>
<p><em>There are no <%= state %> shifts at this time.</em></p>
<% else %>
<h3><%= state.capitalize %> Shifts</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Employee</th>
			<th class="centered">Start Time</th>
			<th>End Time</th>
			<% if state == 'Past Week\'s'|| state == 'This Week\'s' %>
			<th>Date</th>
			<% end %>
			<th>Phone</th>
			<th>Edit</th>
			<th>Info</th>
			<th>Remove</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% shifts.each do |shift| %>
		<tr>
			<td><%= link_to shift.employee.name, employee_path(shift.employee) %></td>
			<td class="centered"><%= shift.start_time.strftime("%l:%M %p")%></td>
			<td><%= shift.end_time.strftime("%l:%M %p")%></td>
			<% if state == 'Past Week\'s'|| state == 'This Week\'s' %>
			<td><%= shift.date.strftime("%m/%d/%y") %></td>
			<% end %>
			<td><%= shift.employee.phone %></td>
			<td>
				<%= link_to(edit_shift_path(shift), class: 'button tiny radius warning') do %>
				&nbsp;Edit&nbsp;
				<% end %>
			</td>
			<td>	<%= link_to "Info", shift_path(shift), class: 'button tiny radius warning'%>	
			</td>
			<td>	<%= button_to "delete", shift, :method=>:delete, class: 'button tiny radius warning'  %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<!-- check out more past/future shifts -->
<% if state == 'Past Week\'s'|| state == 'This Week\'s' %>
<%= link_to(eval("#{state2}_shifts_path"), class: "button radius") do %>
<!-- <i class="fa fa-plus"></i> -->
&nbsp;All <%= state2.capitalize %> Shifts
<% end %>

<% end %>
<p>&nbsp;</p>

<% end %>